@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #eae2b7;
    --secondary-color: #d62828;
    --text-color: #003049;
    --accent1-color: #fcbf49;
    --accent2-color: #f77f00;

    --heading-font: "Oswald", "Times New Roman", serif;
    --body-font: "Merriweather", Arial, sans-serif;
}

body {
    background-color: var(--primary-color);
    margin: 0 auto;
    color: var(--text-color);
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    min-height: 100dvb;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

footer {
    background-color: var(--secondary-color);
    padding: 10px;
}

footer p {
    margin: 5px
}

nav {
    width: 100%;
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--accent1-color);
}

nav a:hover {
    color: var(--text-color);
    background-color: var(--accent2-color);
}

h1, h2, p {
    margin: 0;
    padding: 5px;
}

#logo {
    height: 100px;
}

#current-page {
    font-size: 2em;
}

#main-home {
    align-self: center;
    width: 54%;
    text-align: center;
}

#main-home h1 {
    background-color: #f77f00;
    border-radius: 10px;
}

#socials a {
    text-decoration: none;
}

#socials a img {
    border-radius: 15px;
    width: 60px;
    margin: 5px;
}

.recipe-card {
    display: flex;
    width: 100%;
    margin: 5px;
}

.recipe-card img {
    width: 400px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 5px solid var(--accent1-color);
    border-radius: 20px;
    box-sizing: border-box;
}

.recipe-card div {
    padding: 5px;
}

.recipe-card div h2 {
    margin: 0 5px;
    color: var(--secondary-color);
}

.recipe-card div p {
    margin: 0 5px;
}